[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-restful = "*"
flask-jwt-extended = "*"
flask-httpauth = "*"
flask = "*"
python-dotenv = "*"
sqlalchemy = "*"
mysql-connector-python = "*"
pytest = "*"
flask-cors = "*"
gevent = "*"
marshmallow-sqlalchemy = "*"
python-jose = "*"
bcrypt = "*"
icecream = "*"

[dev-packages]

[requires]
python_version = "3.10"
